.about-page {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px; 
    margin: 20px auto; 
    font-family: "Nunito", cursive; 
    color: #333; 
    line-height: 1.6; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
  }
  .H2{
    border-bottom: 1px solid #ddd;
    border-top: 2px solid #ddd;
  }
  .about-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    z-index: -1;
    border-radius: inherit;
  }
  
  .about-content {
    flex-grow: 1; 
  }
  
  .back-button {
    background-color: #af4c9e; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-self: flex-end; 
    margin-top: 20px; 
  }
  
  .back-button:hover {
    background-color: #491949; 
  }
  
  @media (max-width: 768px) {
    .about-page {
      padding: 15px;
      margin: 15px; 
    }
  
    .back-button {
      padding: 8px 16px; 
      font-size: 0.9rem; 
    }
  }
  
  @media (max-width: 480px) {
    .about-header h1{
      margin-left: 15px;
    }
    .about-page {
      padding: 10px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .H2 {
      font-size: 1.2rem;
    }
  
    .back-button {
      padding: 6px 12px; 
      font-size: 0.8rem;
    }
    .about-footer .back-button{
      margin-left: 20px;
    }
  }